<html>
<head>
    <title>Tracker</title>
    <link rel="stylesheet" href="{{ MEDIA_URL }}std.css">
    <script language="javascript" src="{{ MEDIA_URL }}std.js"> </script>
    {% block head %}{% endblock %}
</head>
<body>
<div id="wrapper">
    <div id="header">
        <div id="header_location">{% block breadcrumbs %}<a href="{{ ROOT_URL }}/">Home</a> {% endblock %}</div>
        <div id="header_user">
            {% if request.user.is_authenticated %}You are logged in as <b>{{ request.user }}</b>. <a href="{{ ROOT_URL }}/accounts/logout/">Logout</a>
            {% else %}You are not logged in. <a href="{{ ROOT_URL }}/accounts/login">Login</a>{% endif %}
        </div>
    </div>
    <div id="content">
    {% block content %}
    {% endblock %}
    </div>
</div>
</body>
</html>
