{% extends 'base.html' %}
{% block breadcrumbs %}<a href="{{ ROOT_URL }}/">Home</a> - <a href="{{ ROOT_URL }}/view/bag/{{ entity.type }}">{{ entity.type }}</a> - <a href="{{ ROOT_URL }}/view/entity/{{ entity.uuid }}">{{ entity.title }}</a> - Editing{% endblock %}
{% block content %}
<form action="" method="post">
{% comment %}{% csrf_token %}{% endcomment %}
{% for field in form %}
        <div class="property">
            {{ field.errors }}
            {{ field.label_tag }}: <div class="field">{{ field }}</div>
        </div>
{% endfor %}
<div class="toolbox">
<input type="submit" value="Save" />
<input type="hidden" name="next" value="{{ next }}" />
</div>
{% endblock %}
