{% extends 'base.html' %}
{% load markup %}
{% load switch %}
{% block breadcrumbs %}<a href="{{ ROOT_URL }}/">Home</a> - <a href="{{ ROOT_URL }}/view/bag/{{ entity.type }}">{{ entity.type }}</a> - {{ entity.title }}{% endblock %}
{% block content %}
<div id="entity_title">
    {{ entity.title }}
</div>
<div id="toolbox">
    {% comment %}
    Admin options
    {% endcomment %}
    {% if request.user.is_staff %}
        {% if entity.is_person %}| <a href="{{ ROOT_URL }}/accounts/user/{{ entity.uuid }}/">Associate Django user with this Pitz profile</a> {% endif %}
    {% endif %}
    | <a href="{{ ROOT_URL }}/edit/entity/{{ entity.uuid }}/">Edit</a> |
</div>
{% for property in entity.properties %}
<div class="property">
    <div class="{{ property.name }}">
        {{ property.name }}:
        {%comment%} need django 1.2...
        {% if property.value|length > 80 %}
        <br>
        {% endif %}A
        {% endcomment %}

        {% switch property.type %}
        {% case "value" %}
        {% comment %} {{ property.value|markdown }} ... some time, need to distinguish
        between big text field values and little things like timestamps in a sensible
        way first though ;) {% endcomment %}
        {{ property.value|force_escape|linebreaksbr }}
        {% case "entity" %}
         <a href="{{ ROOT_URL }}/view/entity/{{ property.value.uuid }}/">{{ property.value.title }}</a>
        {% case "valuelist" %}
        {% for value in property.value %}
        {{ value }}
        {% endfor %}
        {% case "entitylist" %}
        {% for entity in property.value %}
         <a href="{{ ROOT_URL }}/view/entity/{{ entity.uuid }}/">{{ entity.title }}</a>
        {% endfor %}
        {% endswitch %}
    </div>
</div>
{% endfor %}
<div id="related_bags">
{% for bag in entity.related %}
<div class="container">
    <div class="bag bag_minimised" id="{{ bag.title }}">
        <div class="bag_title"> <a href="{{ ROOT_URL }}/view/bag/{{bag.view_ref}}">{{ bag.title }}</a> - <a href="{{ ROOT_URL }}/add/entity/{{ bag.add_ref }}/?from={{ entity.uuid }}">add new</a></div>
        <ul>
        {% for e in bag.elements %}
            <li id="{{ forloop.counter }}">
            <a href="{{ ROOT_URL }}/view/entity/{{ e.uuid }}">{{ e.title }}</a>
            <div class="hiddenmouseover" id="{{ bag.title }}_{{ forloop.counter }}">{{ e.description|force_escape|linebreaksbr|truncatewords:30 }}</div>
            </li>
        {% endfor %}
        </ul>
    </div>
    <div id="{{ bag.title }}_dbox" class="dbox">
    </div>
</div>
{% endfor %}
</div>
<script language="javascript">
load_display_handlers();
</script>
{% endblock %}
