{% extends 'base.html' %}
{% block breadcrumbs %}Home{% endblock %}
{% block content %}
<div id="project">
{% if request.user.get_profile.custom_bags %}
<div class="toolbox">Entity types: {% for bag_type in bag_types %} <a href="{{ ROOT_URL }}/view/bag/{{ bag_type }}/">{{ bag_type }}</a> |{% endfor %}</div>
{% else %}
{% if request.user.is_authenticated %}<div class="toolbox">You don't have custom bags enabled. Would you like to <a href="{{ ROOT_URL }}/help/#custom_bags">learn more?</a></div>{% endif %}
{% endif %}
{% for bag in bags %}
<div class="bag">
    <div class="bag_title"><a href="{{ ROOT_URL }}/view/bag/{{ bag.view_ref }}">{{ bag.title }}</a></div>
    <div class="bag_toolbox"><a href="{{ ROOT_URL }}/add/entity/{{ bag.add_ref }}">Add</a>{% if request.user.get_profile.custom_bags %} | <a href="{{ ROOT_URL }}/accounts/bags/remove/{{ bag.pk }}/">Remove this bag</a>{% endif %}</div>
    <ul>
    {% for entity in bag.elements %}
        <li><a href="{{ ROOT_URL }}/view/entity/{{ entity.uuid }}">{{ entity.title }}</a></li>
    {% endfor %}
    </ul>
</div>
{% endfor %}
</div>
{% endblock %}
